<center style="margin-top: 5%;">
  <h2 style="font-size: 35px;font-family: sans-serif;">
    Life Saver
  </h2>
</center>
<div>
  <datalist id="medicine">
  </datalist>
  <input  autoComplete="on" oninput="getMed(this)" list="medicine" placeholder="Search medicine by name" class="search-med">
</div>


<script>
    function getMed(name) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById('medicine').innerHTML = '';
                var meds = JSON.parse(this.responseText);
                var str='';
                meds.forEach(function (value, index, array){
                    str += '<option value="'+value[0]+'" />';
                })
                var my_list=document.getElementById("medicine");
                my_list.innerHTML = str;
            }
        };
        xhttp.open("GET", "/medicine/list?name="+ name.value, true);
        xhttp.send();
    }
</script>
